@model actividades_complementaria.Models.Organigrama

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Organigrama</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idorganigrama" />
            <div class="form-group">
                <label asp-for="area" class="control-label"></label>
                <input asp-for="area" class="form-control" />
                <span asp-validation-for="area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="area_depende" class="control-label"></label>
                <input asp-for="area_depende" class="form-control" />
                <span asp-validation-for="area_depende" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nivel" class="control-label"></label>
                <input asp-for="nivel" class="form-control" />
                <span asp-validation-for="nivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipo_area" class="control-label"></label>
                <input asp-for="tipo_area" class="form-control" />
                <span asp-validation-for="tipo_area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="titular" class="control-label"></label>
                <input asp-for="titular" class="form-control" />
                <span asp-validation-for="titular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
